body{
  background-color: rgb(190, 187, 187);
  padding: 0px 16%;
}

header{
  width: 100%;
}

header img{
  width: 100%;
  height: 222px;
  border: white 1px solid;

}
 .text{
  position: absolute;
  color: white;
  top: 34px;
  left: 316px;
  }

  .nav{
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: grey;
  }

  .nav li{
    float: left;
    min-width: 16%;
    border-right: 1px solid #c7b7b79e;
  
     
  }
  .nav2 a {
    text-align: center;
    text-decoration: none;
    display: block;
    color:rgb(228, 220, 220);

  }
  .nav2 a:hover{
    background-color: white;
  }
  button{
    background-color: rgb(229 219 219 / 77%);
  }

footer{
  text-align: center;
}

.content{
   display: flex;
   border-bottom: 1px solid white;
   
}
.comtainer{
  background-color: rgb(104, 99, 99);
}
.col-3{
  flex: 0 0 25%;
  width: 25%;
  

}
.block{
  padding-left: 10px;
}
.col-9{
  
  flex: 0 0 75%;
  width: 75%;

  
}

.others{
  display: flex;

}

.subscription{
  margin: 10px;
  border-right: 1px solid white;
}

.services{
  margin: 10px;
}

.menu{
  padding-left: 10px;
}
  
ul{
  padding-left: 10px;
}

.last{
 padding: 10px;
}