

body{

    background-color: rgb(252, 248, 252);
}

    img{
    width: 280px; 
    height: 280px;
    
    


}
.img1{
text-align: center;
}
header{
    color: violet;
    text-align: center;
    padding-left: 10px;
    
}
h2{
    color: thistle;
    text-align: center;
    padding-left: 15px;
}

  
menu{
    text-align: center;
    margin: auto;
    color: violet;
    padding-left: 25px;
}


.img1 ul{
    text-align: center;
    margin: auto;
    color: violet;
    list-style-type: circle;
    padding-left: 46%;   
    
}
.img1 li{
    padding-right: 83%;
}


footer{
   
    text-align: center;
    
}