
img{
    width: 200px; 
    height: 200px;
    
    


}
.img1{
text-align: center;
}
header{
    color: violet;
    text-align: center;
    
}
h4{
    color: thistle;
    text-align: center;
}

  
menu{
    text-align: center;
    margin: auto;
    color: violet;
}






footer{
   
    text-align: center;
    
}